.box{
    width:1000px;
    height:500px;
    background-color:black;
    opacity:0.8;
    align-items: center;
    justify-content: center;
    margin-top:300px;
    margin-left:200px;
    border-radius:15px;
    display:inline-flex;
}

.link-hold{
    width:400px;
    height:400px;
}

.sub-link{
    width: 150px;
    height: 33px;
    font-size: 15px;
    font-style: sans-serif;
    border-radius: 8px;
    background: transparent;
    color: white;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    border-left: 0px;
    border-right: 0px;
    box-shadow: none;
    margin-left: 40%;
    transition: 1s;
    cursor: wait;
    box-shadow: inset 0px 5px 5px rgb(95, 87, 87);
    text-align: center;
    padding-top:13px;
}